[Desktop Entry]
Exec=lumina-pdf %f
Icon=application-pdf
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Graphics
MimeType=application/pdf;
Name=Lumina PDF Viewer
Name[pt]=Visualizador de PDF para Lumina
Comment=View PDF Files
Comment[pt]=Visualização de ficheiros PDF
